body{
    font-family: 'Bellota Text', cursive;
    margin: 0;
    padding: 0;
    background-color: #f4eeff;
}

.header_title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    background-color: #f3c623;
    margin:0px;
}

.main_section{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main_form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main_description{
    width: 17%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main_form label,input{
    margin-top: 10px;
    border: 0;
    border-radius: 7px;

}

.main_image{
    height: 380px;
}

.label_form{
    border: 0;
    border-radius: 7px;
}

.footer{
    height: 63.3px;
    background-color: #f3c623;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 7%;
}

.form_Section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.form_Section p{
    display: flex;
    align-items: center;
    
}

.final_text{
    font-size: 25px;
    height: 60px;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;

}
input[type=number] {
    -moz-appearance:textfield;
}

.main_button{
    color: black;
    background-color: white;
    height: 25px;
    width: 80px;
    outline: none;
}

.main_button:hover{
    color: white;
    background-color: #EE964B;
    cursor: pointer;
}

.input_content{
    height: 25px;
    width: 165px;
    outline: none;
}