body{
    font-family: 'Bellota Text', cursive;
    background-color: #f4f6ff;
    margin: 0;
    padding: 0;
}

.header_title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    background-color: #f3c623;
    margin:0px;
}

.main_section{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main_form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main_description{
    width: 17%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main_form label,input{
    margin-top: 10px;
    border: 0;
    border-radius: 7px;

}

.main_image{
    height: 380px;
}

.label_form{
    border: 0;
    border-radius: 7px;
}

.footer{
    height: 63.3px;
    background-color: #f3c623;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 7%;
}

.form_Section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.form_Section p{
    margin-top: 55%;
    
}